---
import { format } from 'date-fns';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Content from '../../components/Content.astro';

const posts = await getCollection('blog');
const sortedPosts = posts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<Layout title="Blog | Michele Riva" cover="blog.jpg">
  <Content title="Blog">
    <div class="grid gap-4">
      {sortedPosts.map(post => (
        <a href={`/blog/${post.slug}`} class="no-underline">
          <div class="border border-neutral-500 p-4 rounded-lg bg-neutral-950 bg-opacity-15">
            <h2 class="font-bold text-neutral-200 hover:text-neutral-400">{post.data.title}</h2>
            <p class="text-xs"> {format(post.data.pubDate, 'd MMM yyyy')} </p>
          </div>
        </a>
      ))}
    </div>
  </Content>
</Layout>

<style>
  * {
    @apply hover:no-underline;
  }

</style>