---
import Layout from '../layouts/Layout.astro'
import Content from '../components/Content.astro'
---

<Layout title="Contacts | Michele Riva" cover="contacts.jpg">
  <Content title="Contacts">
    You can find me on <a href="https://bsky.app/profile/riva.wtf" target="_blank">BlueSky</a>, <a href="https://www.linkedin.com/in/micheleriva95/" target="_blank">LinkedIn</a>, and <a href="https://github.com/micheleriva" target="_blank">GitHub</a>.
  </Content>
</Layout>