@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

@import './colors.scss';
@import './queries.scss';
@import './typography.scss';

html {
  font-family: 'Raleway', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: $black;
  box-sizing: border-box;
  overflow-x: hidden;
  
  ::selection {
    background-color: $magenta;
    color: $white;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}