.page-title {
  color: $white;
  text-transform: uppercase;
  font-size: 3em;
  margin-bottom: 15px;
  text-align: center;

  @include query(phone) {
    font-size: 15vw;
    line-height: 0.9em;
    margin-bottom: 1em;
  }
}

.desc {
  position: relative;
  display: inline-block;
  width: auto;
  margin-bottom: 4em;
  text-align: center;
  color: $white;
}