---
const { repo } = Astro.props
---

<div>
  <h1>
    {repo.full_name}
  </h1>
  <div>
    {repo.description}
  </div>
  <div>
    {repo.stargazers_count}
  </div>
  <div>
    {repo.language}
  </div>
</div>