<article>
    <section class="header">
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
    </section>
    <section>
        $body$
    </section>
    <hr />
    <section>
        <b> Get in touch! </b> <br />
        <a href="https://github.com/micheleriva" target="_blank">GitHub</a> ·
        <a href="https://twitter.com/MicheleRivaCode" target="_blank">Twitter</a> ·
        <a href="https://www.linkedin.com/in/micheleriva95" target="_blank">LinkedIn</a>
    </section>
    <hr />
</article>

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = window.location.href;
        this.page.identifier = btoa('$title$');
    };

    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://micheleriva-it.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script id="dsq-count-scr" src="//micheleriva-it.disqus.com/count.js" async></script>
